ion-content{
  padding-top: 50px;
  display: flex;
  font-family: 'Permanent Marker', cursive;
    img{
      max-width: 280px;
      margin-top: 54px;
    }
    ion-title{
      font-size: 32px;
      padding-top: 10px;
    }
    div.login-container{
      text-align: center;
      background-color: rgba(236, 236, 236, 0.81);
      height:100%;
      justify-content: center;
      .inner-container{
        padding-top: 60px;
        input{
          padding:14px;
          color: black;
          border: none;
          width: 335px;
          background-color: white;
          margin-top: 4px;
        }
        ion-icon{
          margin-left: -10px;
          padding-right: 8px;
        }
      }
    }
    ion-button{
      margin-top: 20px;
      padding-right: 5px;
    }
}
