<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-container">
  <div class="inner-login-container">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
  </div>
  <ion-button class="btn" routerLink="/home" routerDirection="forward">Login</ion-button>
  <ion-button class="btn btn-class">Signup</ion-button>
</ion-content>
