div.detail-container{
  background-color: rgba(236, 236, 236, 0.81);
  height:100%;
  div.inner-detail-container{
    text-align: center;
    img{
      margin: 0 auto;
      width: 260px;
      border-radius: 80px;
      }
      .card-details{
        width: 265px;
        margin: 0 auto;
          .left{
            float: left;
          }
          .right{
            float:right;
          }
        }
        ion-card-title{
          font-size: 30px;
        }
        ion-card-subtitle{
          font-size: 20px;
      }
    }
    ion-button{
      margin: 25px
    }
}
ion-card{
  background-color: white;
}
