<ion-content>
  <div class="detail-container">
    <ion-card *ngIf="information">
      <div class="inner-detail-container">
      <ion-card-header class="card-header">
          <!-- Api does not include images -->
          <img src="https://prominentgaming.net/assets/images/Starwars_flat_forceawakens_10.png" />
        <ion-card-title>{{information.name}}</ion-card-title>
      </ion-card-header>
      <div class="card-details">
        <ion-card-subtitle>Character Stats</ion-card-subtitle>
        <div class="left">Gender: {{information.gender}}<br />
        Eye colour: {{information.eye_color}}</div>
        <div class="right">Mass: {{information.mass}} kg<br />
        Height: {{information.height}} cm
      </div>
      </div>
      <ion-button class="btn" routerLink="/home" routerDirection="forward">Return to menu</ion-button>
      </div>
    </ion-card>
</div>
</ion-content>
