<ion-content>
  <ion-list>
    <ion-card *ngIf="information">
      <ion-card-header class="card-header">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-card-title>{{information.name}}</ion-card-title>
      </ion-card-header>
      <div class="card-details">
        <ion-card-subtitle>Character Stats</ion-card-subtitle>
        Gender: {{information.gender}}<br />
        Height: {{information.height}} cm<br />
        Mass: {{information.mass}} kg<br />
        Eye colour: {{information.eye_color}}
      </div>
      <ion-button class="btn" routerLink="/home" routerDirection="forward">Return to menu</ion-button>
    </ion-card>

  </ion-list>

</ion-content>
