<ion-content>
  <div class="detail-container">
    <ion-card *ngIf="information">
      <div class="inner-detail-container">
      <ion-card-header class="card-header">
          <!-- Api does not include images -->
          <img src="https://prominentgaming.net/assets/images/Starwars_flat_forceawakens_10.png" />
        <ion-card-title>{{information.name}}</ion-card-title>
      </ion-card-header>
      <div class="card-details">
        <ion-card-subtitle>Character Stats</ion-card-subtitle>
        <div class="left">
          <h6>Gender : </h6> {{information.gender}}<br />
          <h6>Eye colour : </h6> {{information.eye_color}}<br />
          <div class="bottom">
          <h6>Vehicle(s) : </h6>
          <div *ngFor="let vehicle of information.vehicles">
          {{vehicle.name}}
          </div>
        </div>
        </div>
        <div class="right">
          <h6>Mass : </h6>{{information.mass}} kg<br />
          <h6>Height : </h6>{{information.height}} cm<br />
          <div class="bottom">
          <h6>Film(s) : </h6>
          <div *ngFor="let film of information.films">
          {{film.title}}
          </div>
          </div>
      </div>
      </div>
      <ion-button class="btn" routerLink="/home" routerDirection="forward">Return to menu</ion-button>
      </div>

    </ion-card>
  </div>
</ion-content>
