<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="loader" *ngIf="!results">Loading....</ion-content>

<ion-content *ngIf="results">
  <div class="home-container">
  <ion-list>
    <ion-card button *ngFor="let item of results; let i = index" [routerLink]="['/', 'home', i + 1]">
      <ion-card-header class="card-header">
        <ion-avatar>
            <img src="https://prominentgaming.net/assets/images/Starwars_flat_forceawakens_10.png" />
        </ion-avatar>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Born in : {{item.birth_year}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</div>
</ion-content>
